*, *:after, *:before {

}

li {
  list-style: none;
}

html {
  font-size: 1.2em;
}

button {
  margin: 5px;
}

form {
  margin-left: 40%;
}

body {
  align-items: center;
  background: #343434;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  line-height: 140%;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}
